opencv-python-headless
langchain-openai==0.3.32
torch==2.6.0
pip==25.0.1
pydicom==3.0.1
streamlit==1.37.1
numpy==1.26.4
requests
opencv-python
pyqt5==5.15.10





















